.site-header{
	font-size: 30px;
	font-style: arial;
	background: black;
	color: white;
	text-align: center;

}
.body{
	text-align:center;
	vertical-align:middle;

}

.img-top{
	margin: auto;

}
.align-left{
	float:left;
	margin: 0 30px 30px 0; 

}
.align-right {
	float:right;
	margin: 0 0 30px 30px; 

}
.frame {
	padding: 5px;
	border: 10px solid #aaa; 

}

