.site-header{
	font-size: 30px;
	font-style: arial;
	color: lightgray;
	text-align: center;

}
.body{
	text-align:center;
	vertical-align:middle;
	background-size:100% 100%;
	background-repeat:no-repeat;

}

.img-top{
	margin: auto;

}
.align-left{
	float:left;
	margin: 0 15px 15px 0; 

}
.align-right {
	float:right;
	margin: 0 0 15px 15px; 

}
.frame {
	padding: 5px;
	border: 10px solid #aaa; 

}

.side-bar {
	margin: 0;
	padding: 0px;
	width: 80px;
	background-color: #5ebee1;
	border: 10px solid black;
}

.side-list-style {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	height: 200px;
	width: 80px;

}
.list-text-style {
	font-size: 20px;
	font-style: arial black;
	font-weight: bold;
	margin: center;
	display: table-cell;
	background-color: #5ebee1;
	width: 80px;
	height: 50px;
	color: black;
	border-style: outset;
	border-color: #5ebee1;
	border-radius: 15px;
	text-align: center;
	top:50%;
	vertical-align: middle;
	text-decoration: none;

}

.list-text-style:visited {
	color: blue;
	text-decoration: none;
}

.list-text-style:hover {
	color: green;
	font-weight: bolder;
	text-decoration: none;
}


