
/*COMMENTS
HELLO THIS IS STUPID
HELLO
YAYAYAYAYAYAY
*/

body{
	background-color:#d0e4fe;
}

h1 {
	margin: 5px;
	font-family: arial;
	color: blue;
}

table {
	margin: 15px;
	font-size: 20px;
}

.article-detail-table{
	margin: 15px;
	font-size: 20px;
}


.article-detail-table td{
	background:$brand_green;
}
.article-detail-table p{
	background:$brand_green;
}



/*
CLASSES
REUSABLE ON PAGE
*/
.page-title{
	color:red;
	font-size:20px;
}
.page-title-large{
	font-size:40px;
}
.page-title-papyrus{
	font-family: 'Papyrus';
}
.article-detail-table{
	width:100px;
}

/*
?? google this 'concatenated css class why'
*/
.page-title.page-title-large{
	color:red;
	font-size:20px;
}

/*
IDS
UNIQUE. ONCE PER PAGE.
*/
#site-header{

}

/*concatenated classes*/

